<!DOCTYPE html><html><head><style>
table { float: left; margin: 10px;}
th { font-size: smaller; background-color:lightblue;}
th.name {font-size: 20px; }
td { background-color:lightgrey; text-align: right;}
td.nonerror { background-color:lightgreen;}
td.error { background-color:#FB412d;}
td.null { background-color:lightgrey;} </style></head><body>
<table border="1" ><tr><th class="name">Board</th><th>FED</th><th>SERIALNO</th><th>T1_VER</th><th>T2_REV</th><th>T2_SERNO</th></tr>
<tr><th>INFO</th><td> </td><td title="Serial Number Low eight bitsSerial Number High one bit" class="nonerror">170</td><td title="read only Virtex firmware version" class="nonerror">0x2255</td><td title="T2 Firmware Version Number" class="nonerror">0x2E</td><td title="T2 Serial Number" class="nonerror">0xAA</td></tr>
<tr><th>OUTPUT</th><td title="SLINK ID (bits 17-16 always '0')" class="nonerror">0x1234</td><td> </td><td> </td><td> </td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">Config</th><th>FAKE_SIZE</th><th>SRCID</th></tr>
<tr><th>AMC_LINKS</th><td title="Number of 64 bit words send for fake event payload" class="nonerror">0x400</td><td> </td></tr>
<tr><th>ID</th><td> </td><td title="CMS Source ID for SFP2 output data" class="null">0</td></tr>
<tr><th>OUTPUT</th><td> </td><td title="CMS Source ID for output data" class="nonerror">1</td></tr>
</table>
<table border="1" ><tr><th class="name">Control</th><th>DAQ</th><th>FAKE</th><th>LTRIG</th><th>RUN</th><th>TTCLOOP</th></tr>
<tr><th>REG_1</th><td title="'1' enables DAQLSC" class="nonerror">1</td><td title="if '1', generate fake event upon receiving L1A" class="null">0</td><td title="if '1', uses internally generated L1A" class="nonerror">1</td><td title="run mode" class="null">0</td><td title="if '1', TTS output is 80MHz clock which can be looped back to TTC input" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">AMC_Links</th><th>AMC10</th></tr>
<tr><th>AMC_BSY_TIME</th><td title="AMC TTS BSY state timeAMC TTS BSY state time" class="nonerror">0xF</td></tr>
<tr><th>AMC_LINK_READY</th><td title="'1' indicates AMC1..12 Link Ready" class="nonerror">  1</td></tr>
<tr><th>BUFFER_UNDERFLOW</th><td title="Buffer underflow on backplane link" class="nonerror">  1</td></tr>
<tr><th>LINK_OK</th><td title="'0' AMC1..12 loss of sync" class="nonerror">  1</td></tr>
<tr><th>LINK_VERS_WRONG</th><td title="'1' AMC1..12 link version wrong" class="nonerror">  1</td></tr>
</table>
<table border="1" ><tr><th class="name">DT_Trig</th><th>TRIG0</th><th>TRIG1</th><th>VALUE</th></tr>
<tr><th>INPUT_DELAY</th><td title="Set delay in 1/8 BX steps for TRIG0 input" class="null">0</td><td title="Set delay in 1/8 BX steps for TRIG1 input" class="null">0</td><td> </td></tr>
<tr><th>LUT_WORD</th><td> </td><td> </td><td title="Look-up table for trigger inputs (512 words)" class="null">0</td></tr>
<tr><th>SAMPLE_BUFFER_ENABLE</th><td> </td><td> </td><td title="Trigger time alignment sample buffer when 1" class="null">0</td></tr>
<tr><th>TRIGGER_ENABLE</th><td> </td><td> </td><td title="Enable DT LUT trigger" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">Event_Builder</th><th>COUNT</th><th>PCT_NO_BP</th><th>RATEHZ</th></tr>
<tr><th>L1A</th><td title="L1A counter" class="nonerror">0x1A4</td><td> </td><td title="L1A rate in Hz" class="nonerror">17</td></tr>
<tr><th>SFP0</th><td> </td><td title="Live time (no backpressure) for SFP0" class="nonerror">100</td><td> </td></tr>
<tr><th>SFP1</th><td> </td><td title="Live time (no backpressure) for SFP1" class="nonerror">100</td><td> </td></tr>
<tr><th>SFP2</th><td> </td><td title="Live time (no backpressure) for SFP2" class="nonerror">100</td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">Slink_Express</th><th>SFP0</th></tr>
<tr><th>INITIALIZED</th><td title="'1' indicates the core is initialized" class="nonerror">         0</td></tr>
<tr><th>LINKNOTFULL</th><td title="SFP0 link full signal from sender core" class="nonerror">         0</td></tr>
<tr><th>LINK_UP</th><td title="'1' means link is up, '0' link is down" class="nonerror">         0</td></tr>
<tr><th>NO_BACKPRESSURE</th><td title="'0' means link is in backpressure" class="nonerror">         1</td></tr>
<tr><th>REVISION</th><td title="Core version" class="nonerror">0x5E100003</td></tr>
<tr><th>SFP_LSC_DOWN</th><td title="'1' when DAQLSC of SFP0..2 is down" class="nonerror">         1</td></tr>
<tr><th>TEST_MODE</th><td title="'1' means link is in test mode, '0' for FED data" class="nonerror">         0</td></tr>
</table>
<table border="1" ><tr><th class="name">State_Timers</th><th>COUNT</th><th>PERCENT</th></tr>
<tr><th>L1A_IN_BSY</th><td title="L1A received when in BSY state" class="nonerror">0x1A4</td><td> </td></tr>
<tr><th>READY</th><td title="ready time counter" class="nonerror">    0</td><td title="Live time (TTS ready) percent" class="null">0</td></tr>
<tr><th>RUN</th><td title="run time counter" class="nonerror">    0</td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">TTC_BGO</th><th>BGO1</th></tr>
<tr><th>COMMAND</th><td title="Short or long TTC command for BGO channel 1" class="nonerror">0x14</td></tr>
<tr><th>ORBIT_PRESCALE</th><td title="Orbit prescale-1 for BGO channel 1" class="nonerror">   1</td></tr>
<tr><th>STARTING_BX</th><td title="Starting BX for BGO channel 1" class="nonerror">   1</td></tr>
</table>
<table border="1" ><tr><th class="name">TTC_Rx</th><th>BCNT</th><th>COUNT</th><th>ENC</th><th>RAW</th></tr>
<tr><th>BCNT_ERROR</th><td> </td><td title="TTC BC0 error counter" class="error">5</td><td> </td><td> </td></tr>
<tr><th>STATE</th><td title="TTC bcnt error" class="error">1</td><td> </td><td title="encoded TTS from enabled AMCs" class="nonerror">RDY (0x0)</td><td title="Current T1 overall TTS state" class="nonerror">BSY (0x4)</td></tr>
</table>
<table><tr><td>SVN</td><td>45415</td></tr></table>
</body></html>
