<!DOCTYPE html><html><head><style>
table { float: left; margin: 10px;}
th { font-size: smaller; background-color:lightblue;}
th.name {font-size: 20px; }
td { background-color:lightgrey; text-align: right;}
td.nonerror { background-color:lightgreen;}
td.error { background-color:#FB412d;}
td.null { background-color:lightgrey;} </style></head><body>
<table border="1" ><tr><th class="name">Board</th><th>DNA</th><th>FED</th><th>INIT_B</th><th>SERIALNO</th><th>T1_DONE</th><th>T1_VER</th><th>T2_DNA</th><th>T2_REV</th><th>T2_SERNO</th></tr>
<tr><th>INFO</th><td title="Kintex FPGA DNA" class="nonerror">0x418001231B054</td><td> </td><td title="if '1', virtex chip INIT_B is low" class="null">0</td><td title="Serial Number Low eight bitsSerial Number High one bit" class="nonerror">83</td><td title="if '1', virtex chip DONE is low" class="null">0</td><td title="read only Virtex firmware version" class="nonerror">0x4036</td><td title="Bits 0-31 of FPGA DNABits 32-56 of FPGA DNA" class="nonerror">0x13A64AC2E21E80D</td><td title="T2 Firmware Version Number" class="nonerror">0x2D</td><td title="T2 Serial Number" class="nonerror">0x53</td></tr>
<tr><th>OUTPUT</th><td> </td><td title="SLINK ID(bits 15-14 always '0')" class="nonerror">0x1234</td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">Config</th><th>SRCID</th></tr>
<tr><th>ID</th><td title="CMS Source ID for SFP2 output data" class="null">0</td></tr>
<tr><th>OUTPUT</th><td title="CMS Source ID for output data" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">Control</th><th>DAQ</th><th>FAKE</th><th>LTRIG</th><th>RUN</th><th>STOPONCRC</th><th>TTCLOOP</th></tr>
<tr><th>REG_1</th><td title="'1' enables DAQLSC" class="null">0</td><td title="if '1', generate fake event upon receiving L1A" class="null">0</td><td title="if '1', uses internally generated L1A" class="nonerror">1</td><td title="run mode" class="nonerror">1</td><td> </td><td title="if '1', TTS output is 80MHz clock which can be looped back to TTC input" class="nonerror">1</td></tr>
<tr><th>REG_2</th><td> </td><td> </td><td> </td><td> </td><td title="If '1', stop monitor buffer write on AMC CRC error" class="null">0</td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">AMC_Links</th><th>AMC10</th></tr>
<tr><th>ACKNUM_A</th><td title="Guru meditation" class="nonerror">        3</td></tr>
<tr><th>AMC13_EVENTS</th><td title="Receive Event counter" class="nonerror">        0</td></tr>
<tr><th>AMC13_LINK_VER</th><td title="AMC13 Link Version" class="nonerror">0x     11</td></tr>
<tr><th>AMCRDY</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>AMC_LINK_READY</th><td title="'1' indicates AMC1..12 Link Ready" class="nonerror">        1</td></tr>
<tr><th>AMC_LINK_VER</th><td title="AMC Link Version" class="nonerror">0x     10</td></tr>
<tr><th>AMC_TTS</th><td title="TTS received from AMC" class="nonerror">RDY (0x8)</td></tr>
<tr><th>BC0_LOCK</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>BC0_LOCKED</th><td title="AMC1..12 BC0 locked (local trigger only)" class="nonerror">        1</td></tr>
<tr><th>BLOCK32K</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>DATARDENWRDCOUNT</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>EVB_EVENTS</th><td title="Read Event counter" class="nonerror">        0</td></tr>
<tr><th>EVENTBUF_RA</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>EVENTBUF_WA</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>EVENTINFO_A</th><td title="Guru meditation" class="nonerror">0x      F</td></tr>
<tr><th>EVENTWC</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>EVTINFORDDONETOGL</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>EVTINFOTOGL</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>GOT_AMC_BC0</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>INITLINK</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>L1AINFO_RA</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>L1AINFO_WA</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>L1AINFO_WAP</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>LINK_OK</th><td title="'0' AMC1..12 loss of sync" class="nonerror">        1</td></tr>
<tr><th>LINK_VERS_WRONG</th><td title="'1' AMC1..12 link version wrong" class="nonerror">        1</td></tr>
<tr><th>MISMATCH_BCN</th><td title="If '0', BcN mismatch" class="nonerror">        0</td></tr>
<tr><th>MISMATCH_EVN</th><td title="If '0', EvN mismatch" class="nonerror">        0</td></tr>
<tr><th>MISMATCH_ORN</th><td title="If '0', OrN mismatch" class="nonerror">        0</td></tr>
<tr><th>MISMATCH_TTS</th><td title="Link TTS on first mismatch of EvN/BcN/OrN" class="nonerror">        0</td></tr>
<tr><th>RESENDQUE_A</th><td title="Guru meditation" class="nonerror">        3</td></tr>
<tr><th>RESET_SYNC3</th><td title="Guru meditation" class="nonerror">        0</td></tr>
<tr><th>RFIFO_A</th><td title="Guru meditation" class="nonerror">        3</td></tr>
<tr><th>RXPLLLOCK</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>RXRSTDONE</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>TTC_LOCK</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>TTC_UPDATE</th><td title="TTC update from AMC cards counter" class="nonerror">0x 1CEE35</td></tr>
<tr><th>TTS_RAW</th><td title="Raw TTS from AMC" class="nonerror">DIS (0x0)</td></tr>
<tr><th>TXRSTDONE</th><td title="Guru meditation" class="nonerror">        1</td></tr>
<tr><th>TXSTATE</th><td title="Guru meditation" class="nonerror">        1</td></tr>
</table>
<table border="1" ><tr><th class="name">DT_Trig</th><th>TRIG0</th><th>TRIG1</th><th>VALUE</th></tr>
<tr><th>INPUT_DELAY</th><td title="Set delay in 1/8 BX steps for TRIG0 input" class="null">0</td><td title="Set delay in 1/8 BX steps for TRIG1 input" class="null">0</td><td> </td></tr>
<tr><th>LUT_WORD</th><td> </td><td> </td><td title="Look-up table for trigger inputs (512 words)" class="null">0</td></tr>
<tr><th>SAMPLE_BUFFER_ENABLE</th><td> </td><td> </td><td title="Trigger time alignment sample buffer when 1" class="null">0</td></tr>
<tr><th>TRIGGER_ENABLE</th><td> </td><td> </td><td title="Enable DT LUT trigger" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">Event_Builder</th><th>COUNT</th></tr>
<tr><th>L1A</th><td title="L1A counter" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">HCAL_Trigger_Diagnostics</th><th>VALUE</th></tr>
<tr><th>PRBS_ERRORS</th><td title="HCAL Trigger test mode PRBS error count" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">HCAL_Trigger_Input_test</th><th>BC0</th><th>BCN</th><th>DATA</th><th>ERR</th><th>VER</th></tr>
<tr><th>SAMPLE_00</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_01</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_02</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_03</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_04</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_05</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_06</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_07</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_08</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_09</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_10</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_11</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_12</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_13</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_14</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_15</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_16</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_17</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_18</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_19</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_20</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_21</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_22</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_23</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_24</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_25</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_26</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_27</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_28</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
<tr><th>SAMPLE_29</th><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td><td title="HCAL trigger test rx" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">Local_Trigger</th><th>BEGIN</th><th>END</th><th>VALUE</th></tr>
<tr><th>CONTINUOUS_ON</th><td> </td><td> </td><td title="continous local L1A on (setup with register 0x1c)" class="null">0</td></tr>
<tr><th>ORBIT_GAP</th><td title="Beginning of orbit gap; triggers excluded" class="null">0</td><td title="End of orbit gap; triggers excluded" class="null">0</td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">Monitor_Buffer</th><th>VALUE</th></tr>
<tr><th>AVAILABLE</th><td title="monitor buffer available" class="nonerror">1</td></tr>
<tr><th>EMPTY</th><td title="monitor buffer empty" class="nonerror">1</td></tr>
<tr><th>EOI_TYPE</th><td title="all 0 if not in catch mode, otherwise gives the type of error of the bad event" class="null">0</td></tr>
<tr><th>EVT_AFTER_EOI</th><td title="all 0 if not in catch mode, otherwise gives the number of events stored after the bad event" class="null">0</td></tr>
</table>
<table border="1" ><tr><th class="name">SFP_ROM</th><th>TTC</th></tr>
<tr><th>ROM_DATA</th><td title="TTC/TTS SFP ROM data(first 128 bytes, little endian)" class="nonerror">0x70403</td></tr>
</table>
<table border="1" ><tr><th class="name">State_Timers</th><th>COUNT</th></tr>
<tr><th>READY</th><td title="ready time counter" class="nonerror">0x3B8E94</td></tr>
<tr><th>RUN</th><td title="run time counter" class="nonerror">0x3B8E10</td></tr>
</table>
<table border="1" ><tr><th class="name">T2_TTC</th><th>BC0_RUN</th><th>BCNTERR</th><th>BCN_RUN</th><th>CLKFREQ</th><th>L1A_COUNT</th><th>LAST_BCN</th><th>LAST_L1A</th><th>LAST_ORN</th><th>OCR_CMD</th><th>OCR_MASK</th><th>TTC_ENABLE_OVERRIDE_MASK</th></tr>
<tr><th>CONFIG</th><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td title="TTC OrN  reset command" class="nonerror">0x28</td><td title="TTC OrN reset mask" class="nonerror">0x17</td><td title="Bitmask of additional locations to send TTC clock/data" class="null">0</td></tr>
<tr><th>VALUE</th><td title="BC0 counter (always running)" class="nonerror">0x4AA6</td><td title="TTC Bunch count error counter (8 bits only)" class="error">1</td><td title="Bunch count (always running)" class="nonerror">0x947</td><td title="TTC clock freq divided by 50" class="nonerror">799999</td><td title="L1A counter" class="nonerror">0x8615</td><td title="TTC bunch count of last received L1A" class="nonerror">0x1F4</td><td title="TTC event number of last received L1A" class="nonerror">0x541</td><td title="TTC orbit number of last received L1A" class="nonerror">0xDBF39EF7</td><td> </td><td> </td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">TTC_History</th><th>COUNT</th></tr>
<tr><th>ECR_COUNT</th><td title="TTC reset event number command counter" class="nonerror">0x11</td></tr>
</table>
<table border="1" ><tr><th class="name">TTC_Rx</th><th>ENC</th><th>RAW</th><th>VALUE</th></tr>
<tr><th>OCR_COMMAND</th><td> </td><td> </td><td title="Orbit count reset TTC command" class="nonerror">0x28</td></tr>
<tr><th>OCR_MASK</th><td> </td><td> </td><td title="Ignore '1' bits when comparing orbit count reset TTC command" class="nonerror">0x17</td></tr>
<tr><th>RESYNC_COMMAND</th><td> </td><td> </td><td title="Resync TTC command" class="nonerror">0x48</td></tr>
<tr><th>RESYNC_MASK</th><td> </td><td> </td><td title="Ignore '1' bits when comparing resync TTC command" class="nonerror">0x17</td></tr>
<tr><th>STATE</th><td title="encoded TTS from enabled AMCs" class="nonerror">RDY (0x0)</td><td title="Current T1 overall TTS state" class="nonerror">RDY (0x8)</td><td> </td></tr>
</table>
<table border="1" ><tr><th class="name">Temps_Voltages</th><th>DEG_C</th><th>MV</th></tr>
<tr><th>0V75A</th><td> </td><td title="0.75V DDR3_Vref power voltage in millivolt" class="nonerror">  752</td></tr>
<tr><th>0V75B</th><td> </td><td title="0.75V DDR3_Vtt power voltage in millivolt" class="nonerror">  762</td></tr>
<tr><th>12V0</th><td> </td><td title="12V power voltage in millivolt" class="nonerror">12556</td></tr>
<tr><th>1V0A</th><td> </td><td title="1.0V analog power voltage in millivolt" class="nonerror"> 1001</td></tr>
<tr><th>1V0B</th><td> </td><td title="1.0V VccBRAM power voltage in millivolt" class="nonerror">  998</td></tr>
<tr><th>1V0C</th><td> </td><td title="1.0V Vccint power voltage in millivolt" class="nonerror">  999</td></tr>
<tr><th>1V2</th><td> </td><td title="1.2V analog power voltage in millivolt" class="nonerror"> 1207</td></tr>
<tr><th>1V5</th><td> </td><td title="1.5V power voltage in millivolt" class="nonerror"> 1463</td></tr>
<tr><th>1V8A</th><td> </td><td title="1.8V VccAux power voltage in millivolt" class="nonerror"> 1778</td></tr>
<tr><th>1V8B</th><td> </td><td title="1.8V VccAuxGTX power voltage in millivolt" class="nonerror"> 1785</td></tr>
<tr><th>2V0</th><td> </td><td title="2.0V VccAuxIO power voltage in millivolt" class="nonerror"> 1991</td></tr>
<tr><th>2V5</th><td> </td><td title="2.5V power voltage in millivolt" class="nonerror"> 2492</td></tr>
<tr><th>3V3</th><td> </td><td title="3.3V power voltage in millivolt" class="nonerror"> 3329</td></tr>
<tr><th>T_DIE_TEMP</th><td title="V6 die temperature in unit of 0.1 degree Celsius" class="nonerror">627</td><td> </td></tr>
</table>
<table><tr><td>SVN</td><td>40604</td></tr></table>
</body></html>
