{% extends "chambers.html" %}
{% load staticfiles %}

{%block amc_report %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <center><b>{{amc_boardid}} Histograms</b></center>
      {% for hist in amc_hist_list %}
      <div class="row">
	<div class="col-md-12">
	  <center>
	    <a href="/main/{{run.Type}}/run/{{run.Number}}/AMC13-1/{{amc_boardid}}/hist/{{hist}}"
	     class="btn btn-xs btn-info btn-block">{{hist}}</a>
	  </center>
	</div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-10">
      {% block display_amc %}
      {% endblock %}
    </div>
  </div>
</div>


{%endblock%}
