{% extends "chambers.html" %}
{% load staticfiles %}

{%block amc13_report %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-2">
      <center><b>AMC13 Histograms</b></center>
      {% for hist in amc13_hist_list %}
      <div class="row">
	      <div class="col-md-12">
	        <center>
	          <a href="/main/{{run.Station}}/run/{{run.Number}}/{{crate_id}}/hist/{{hist}}"
	           class="btn btn-xs btn-info btn-block">{{hist}}</a>
	        </center>
	      </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-10">
      {% block display_amc_13 %}
      {% endblock %}
    </div>
  </div>
</div>


{%endblock%}
