{% extends "main.html" %}
{% load staticfiles %}
{% load extras %}
  <!-- JSROOT -->
  <script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   
{% block chambers %}


<table class="table table-fixed">
    <thead>
    <tr>
        <th class="col-xs-10">
            {{run.Station}} {{run.Type}}: Run {{run.Number}}
        </th>
        <th class="col-xs-2">
        <a class="btn" href="/main/{{run.Station}}/run/{{run.Number}}/report/">
            Display Light DQM Report
        </a>
        </th>

    </tr>
    </thead>
    <tbody>
        <tr>
            {% for lcrate in crate_list %}

            {% if lcrate.CrateID == crate_id %}
            <td class="col-xs-1"><a href="/main/{{run.Station}}/run/{{run.Number}}/{{lcrate.CrateID}}"
                                    class="btn btn-default btn-sm active">{{lcrate.CrateID}}</a></td>

            {% else %}

            <td class="col-xs-1"><a href="/main/{{run.Station}}/run/{{run.Number}}/{{lcrate.CrateID}}"
                                    class="btn btn-default btn-sm">{{lcrate.CrateID}}</a></td>

            {% endif %}

            {% endfor %}

        </tr>
        <tr>
            {% for amc in crate.amcs.all %}

            {% if amc.BoardID == amc_boardid %}
            <td class="col-xs-1"><a href="/main/{{run.Station}}/run/{{run.Number}}/{{crate.CrateID}}/{{amc.BoardID}}"
                                    class="btn btn-{{amc_color|get_index:forloop.counter0}} btn-sm active">{{amc.BoardID}}-{{amc.Type}}</a></td>

            {% else %}
            <td class="col-xs-1"><a href="/main/{{run.Station}}/run/{{run.Number}}/{{crate.CrateID}}/{{amc.BoardID}}"
                                    class="btn btn-{{amc_color|get_index:forloop.counter0}} btn-sm">{{amc.BoardID}}-{{amc.Type}}</a></td>

            {% endif %}


            {% endfor %}
        </tr>
</table>


{%block gebs%}
{%endblock%}
{%block dqm_report %}
{%endblock %}
{%block amc_report %}
{%endblock %}
{%block amc13_report %}
{%endblock %}

</div>
{%endblock%}
