{% extends "main.html" %}
{% load staticfiles %}
  <!-- JSROOT -->
  <script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   
{% block chambers %}
<table class="table table-fixed">
  <thead>
    <tr>
      <th class="col-xs-2">Station</th>
      <th class="col-xs-2">AMC ID</th>
      <th class="col-xs-2">Chamber 1</th>
      <th class="col-xs-2">Chamber 2</th>
    </tr>
  </thead>
  <tbody>
      {% for amc in run.amcs.all %}
      <tr>
        <td class="col-xs-3" rowspan="{{run.amcs.all|length}}">{{run.Station}}</td>
        <td class="col-xs-2">{{amc.Type}}-{{amc.BoardID}}</td>
        {% for geb in amc.gebs.all %}
        <td class="col-xs-2"><a href="/main/{{run.Type}}/run/{{run.Number}}/GEB-{{geb.ChamberID}}-{{geb.Type}}" class="btn btn-success">GEB-{{geb.ChamberID}}-{{geb.Type}}</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>
{%block chamber-tabs%}
{%endblock%}
{%endblock%}
