{% extends "main.html" %}
{% load staticfiles %}
{% load extras %}
  <!-- JSROOT -->
  <script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   
{% block chambers %}


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>
	GEM chambers: Run {{run.Number}} 
	<a href="/main/{{run.Type}}/run/{{run.Number}}/report/" class="btn btn-info btn-sm pull-right">Display Light DQM Report</a>
      </h4>
    </div>
  </div>
<table class="table table-fixed">
  <thead>
    <tr>
      <th class="col-xs-2">Station</th>
      <th class="col-xs-2">AMC ID</th>
      <th class="col-xs-2">Chamber 1</th>
      <th class="col-xs-2">Chamber 2</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td class="col-xs-3" rowspan="{{run.amcs.all|length}}">{{run.Station}}</td>
	{% for amc in run.amcs.all %}
        <td class="col-xs-2"><a href="/main/{{run.Type}}/run/{{run.Number}}/amc/{{amc.Type}}-{{amc.BoardID}}" 
				class="btn btn-{{amc_color|get_index:forloop.counter0}}">{{amc.Type}}-{{amc.BoardID}}</a></td>
        {% for geb in amc.gebs.all %}
        <td class="col-xs-2"><a href="/main/{{run.Type}}/run/{{run.Number}}/GEB-{{geb.ChamberID}}-{{geb.Type}}" 
				{%if forloop.counter0 == 0 %} class="btn btn-{{geb_color|get_first:forloop.parentloop.counter0}}"> {%endif%}
	                        {%if forloop.counter0 == 1 %} class="btn btn-{{geb_color|get_second:forloop.parentloop.counter0}}"> {%endif%}
	    GEB-{{geb.ChamberID}}-{{geb.Type}}</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
  </tbody>
</table>

{%block gebs%}
{%endblock%}

{%block dqm_report %}
{%endblock %}
{%block amc_report %}
{%endblock %}

</div>
{%endblock%}
