{%extends "main.html" %}
{%load staticfiles %}
{%load extras %}
  <!-- JSROOT -->
  <script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   
{% block crates %}


<table class="table table-fixed">
    <thead>
    <tr>
        <th class="col-xs-10">
            {{run.Station}} {{run.Type}}: Run {{run.Number}}
        </th>
        <th class="col-xs-2">
        <a class="btn" href="/main/{{run.Station}}/run/{{run.Number}}/report/">
            Display Light DQM Report
        </a>
        </th>

    </tr>
    </thead>
    <tbody>
        <tr>
            {% for crate in crate_list %}
            <td class="col-xs-2"><a href="/main/{{run.Station}}/run/{{run.Number}}/{{crate.CrateID}}/{{amc.BoardID}}"
                                    class="btn btn-default btn-sm">{{crate.CrateID}}</a></td>

            {% endfor %}

        </tr>

    </tbody>
</table>




</div>
{% endblock %}
