{% extends "gebs.html" %}
{% load staticfiles %}


{%block display_canvas %}
<script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   

<!-- <center><img width="70%" src="{% static '' %}test/{{run.Type}}/run{{run.Number}}/{{run.Station}}/{{chamber}}/canvases/{{canvas}}.png"></center> -->

<!-- <div class="col-lg-2"> -->
<!--   <div class="panel panel-default"> -->
<!--     <div class="panel-heading"> -->
<!--       <center><h4>Tooltips</h4></center> -->
<!--     </div> -->
<!--     <p>This plot should show...</p> -->
<!--     <ul> -->
<!--       <li></li> -->
<!--       <li></li> -->
<!--       <li></li> -->
<!--       <li></li> -->

<!--     </ul>  -->
<!--   </div> -->
<!-- </div> -->
<!-- <div class="col-lg-10"> -->



<div id={{canvas}} style="width:90%"> </div>


<!-- </div> -->


<script type="text/javascript">

var hist_ ="{{canvas}}";
JSROOT.NewHttpRequest("{% static '' %}test/{{run.Type}}/run{{run.Number}}/{{run.Station}}/{{chamber}}/canvases/{{canvas}}.json", 'object', function(obj) {
        //JSROOT.NewHttpRequest("/static/test/a.json", 'object', function(obj) {
               JSROOT.draw( hist_, obj, "colz");
               }).send();


</script>
{%endblock %} <!-- display_canvas -->

