{% extends "gebs.html" %}
{% load staticfiles %}

{%block display_canvas %}
<script src="{% static 'js/jsroot/scripts/JSRootCore.js' %}"></script>   
<script src="{% static 'js/jquery.js' %}"></script>   
<center><div id={{canvas}} style="width:90%"> 
  <script type="text/javascript">
  var cnt = 0;
  function updateGUI() {
    console.log("UpdateGUI called")
    var frame ="{{canvas}}";
    var request_addr = "{% static '' %}{{run.Name}}/AMC13-1/{{amc_boardid}}/{{geb_chamberid}}/summary_canvases/{{canvas}}.json?dummy="+cnt;
    var req = JSROOT.NewHttpRequest(request_addr, 'object', function(histo) {
                   JSROOT.redraw( frame, histo, "colz");
                   });
    req.send(null);
    req.cnt = cnt++;
  }
  
  $(document).ready(function startGUI() {
    //d3.select('html').style('height','100%');
    //d3.select('body').style({'min-height':'100%', 'margin':'0px', "overflow" :"hidden"});
    console.log("StartGUI called")
    var monitor = JSROOT.GetUrlOption("monitoring");
    if ((monitor == "") || (monitor==null)) 
       monitor = 1000;
    else
      monitor = parseInt(monitor);
    drawopt = JSROOT.GetUrlOption("opt");
    addr = JSROOT.GetUrlOption("addr");
    var layout = JSROOT.GetUrlOption("layout");
    if (layout!=null) mdi = new JSROOT.GridDisplay('drawing', layout);
    setInterval(updateGUI, monitor);
    // let adjust drawing when browser will be resized
    var frame ="{{canvas}}";
    JSROOT.RegisterForResize(frame);
  });
  </script>
</div></center>

{%endblock %} <!-- display_canvas -->
