{% load staticfiles %}
{% block canvases %}
  <!-- JSROOT -->
  <script src="{% static 'js/jsroot/JSRootCore.js' %}"></script>   
        <div id="integrity">
        <div id="occupancy">
        <div id="clusterMult">
        <div id="clusterSize">

<script type="text/javascript">
    console.log( "simpleHist01.js : START" );
    var drawIdlist = ['integrity','occupancy', "clusterMult", "clusterSize"];

    drawIdlist.forEach(function(drawId){
        var file="{% static '' %}test/bench/run000001/TAMU/GEB-00-Long/canvases/";
        file+=drawId;
        //file = file.slice(0,-4);
        file+=".json";
        console.log( "simpleHist01.js : json file for div id "+ drawId +": " , file  );

        JSROOT.NewHttpRequest(file, 'object', function(obj) {
        //JSROOT.NewHttpRequest("{% static '' %}test/a.json", 'object', function(obj) {
               JSROOT.draw( drawId, obj, "colz");
               }).send();
        });
</script>

 <!-- </div>
   /.container -->
{% endblock %}
