{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Light DQM Browser</title>
  
  
  <!-- Bootstrap Core CSS -->
  <link  rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  
  <!-- Custom CSS -->
  <link href="{% static 'css/portfolio-item.css' %}" rel="stylesheet">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  
  {%include "nav.html"%}  

  {% block main %}
<div class="container-fluid">
  <div class="col-sm-4">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Run list
          </h4>
      
          </div>
          <div class="span3">
          <table class="table table-fixed" id="table">
            <thead>
              <tr>
                <th class="col-xs-3">Run Number</th>
                <th class="col-xs-2">Type</th>
                <th class="col-xs-2">Date</th>
                <th class="col-xs-2">Period</th>
              </tr>
            </thead>
            <tbody>
                {% for run_ in run_list %}
                {% if run_.Number == run.Number and run_.Type == run.Type %}
                  <tr class="selected">
                {% else %}
                  <tr >
                {% endif %}
                  <td class="col-xs-3">{{run_.Number}}</td>
                  <td class="col-xs-2">{{run_.Type}}</td>
                  <td class="col-xs-3">{{run_.Date}}</td>
                  <td class="col-xs-2">{{run_.Period}}</td>
                </tr>
               {% endfor %}
            </tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            GEM chambers
          </h4>
        </div>
        {% block chambers %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
  {% endblock %}

  <!-- jQuery -->
  <script src="{% static 'js/jquery.js' %}"></script>
  
  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/lightdqm.js' %}"></script>

</body>

</html>
