{% extends "gebs.html" %}
{% load staticfiles %}
{% load extras %}
{% block vfats %}

<!-- <table class="table"> -->
<!--   <tbody> -->
<!--     <tr> -->
<!--       <td class="col-xs-2">VFAT {{vfat}}:</td> -->
<!--       {% for hist in hist_list %} -->
<!--       <\!-- <td><a href="/main/{{run.Station}}/run/{{run.Number}}/{{chamber}}/vfat/{{vfat}}/{{hist}}{{vfat}}" id="b{{slot}}"  -\-> -->
<!--       <\!-- 	     class="btn btn-{{selected_vfat.3}} btn-xs">{{hist}}{{vfat}}</a></td> -\-> -->
<!--       <td><a href="/main/{{run.Station}}/run/{{run.Number}}/AMC13-1/{{amc_boardid}}/{{geb_chamberid}}/VFAT-{{vfat}}/hist/{{hist}}"  -->
<!-- 	     id="b{{slot}}" class="btn btn-{{selected_vfat.3}} btn-xs">{{hist}}</a></td> -->
<!--       {% endfor %} -->
<!--     </tr> -->
<!--   </tbody> -->
<!-- </table> -->

<center><b>VFAT {{vfat}} Histograms</b></center>
{% for hist in hist_list %}
<div class="row-fluid">
  <div class="col-md-12">
    <center>
      <a href="/main/{{run.Station}}/run/{{run.Number}}/AMC13-1/{{amc_boardid}}/{{geb_chamberid}}/VFAT-{{vfat}}/hist/{{hist.0}}"
	 class="btn btn-sm btn-info btn-block">{{hist.1}}</a>
    </center>
  </div>
</div>
{% endfor %}
<div class="row-fluid">
  <div class="col-md-12">
    <center>
      <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#thresholdModal">
	Threshold Scan
      </button>
    </center>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="thresholdModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">VFAT-{{vfat}} Threshold Scans</h4>
      </div>
      <div class="modal-body">
	<div class="row-fluid">
        {% for channel in threshold_channels %}
	  <div class="col-md-3">
	    <center><img width="100%" src="{% static '' %}{{run.Name}}/AMC13-1/{{amc_boardid}}/{{geb_chamberid}}/VFAT-{{vfat}}/Threshold_Scans/thresholdScan{{channel}}.png"></center> 

	    <!-- <center> -->
	    <!--   <a href="/main/{{run.Station}}/run/{{run.Number}}/AMC13-1/{{amc_boardid}}/{{geb_chamberid}}/VFAT-{{vfat}}/hist/{{hist}}" -->
	    <!-- 	 class="btn btn-sm btn-info btn-block">{{hist}}</a> -->
	    <!-- </center> -->
	  </div>
	<!--   {% if channel == 12 %} -->
	<!-- </div><div class="row-fluid"> -->
	<!--   {% endif %} -->
	{% endfor %}
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
